<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p>Hi <%= @user.first_name %>,</p>
	<p>
		#{@friend.first_name} has accepted your friend request.
		<br>Enjoy having in-depth conversations, discussions and debates.
	</p>
	<p>
		<a href="<%= new_conversation_path %>">Start a new conversation.</a>
	</p>
	<p>Best,<br>Pranav Gupta</p>
	<%= image_tag("/images/wayt_logo.png", alt: "what are your thoughts?") %>
</body>
</html>