<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p>Hi <%= @user.first_name %>,</p>
	<p>
		<%= @friend.first_name %> has accepted your friend request.
		<br>Enjoy having in-depth conversations, discussions and debates.
	</p>
	<p>
		<a href="<%= new_conversation_url %>">Start a conversation.</a> or simply add to them to ongoing ones.
	</p>
	<p>
		Best,
		<br>Pranav
		<br><a href="root_url">what are your thoughts?</a>
	</p>
</body>
</html>