<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p>Hi <%= @friend.first_name %>,</p>
	<p>
		<%= @user.first_name %> wrote a reply to your mutual discussion.
		<br>They would love to get your inputs.
	</p>
	<p>
		Read and reply here: <a href="<%= conversation_url(@conversation) %>"><%= @conversation.subject %></a>.
	</p>
	<p>
		Best,
		<br>Pranav
		<br><a href="root_url">what are your thoughts?</a>
	</p>
</body>
</html>