<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p>Thanks for signing up for 'what are your thoughts?', <%= @user.name %>!</p>
	<p>
		Have fun debating, discussing and reflecting on ideas with your close friends. 
		<br>Welcome.
	</p>
	<p>
		The first thing you'll need to do is add a couple of friends using their email ids.
		<br>Then you can compose conversations and send it to them, just as you'd do in gmail. 
	</p>
	<p>
		See you <a href="root_url">inside</a> :)
	</p>
	<p>
		Best,
		<br>Pranav Gupta
		<br><a href="root_url">what are your thoughts?</a>
	</p>
</body>
</html>