<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p>Thanks for signing up for 'what are your thoughts?', <%= @user.name %>!</p>
	<p>
		Have fun debating, discussing and reflecting on ideas with your close friends. 
		<br>Welcome. See you inside :)
	</p>
	<p>Best,<br>Pranav</p>
</body>
</html>