<div class="section">

	<div class="page-content fit-bottom-border">
		<h1 class='center'>
			Have fun discussing, debating, and reflecting on ideas you care about with close friends.
		</h1>
		<!-- image credit: illustrators at 16 personalities -->
		<img src="/images/h_discussion.png" alt="discussion">
	</div>

	<div class="page-content">
		<span class="time-stamp">Nov 01, 2016</span>
		<h5>About Us</h5>
	</div>

	<div class="fit-comment-content fit-last-comment">
		<p>Brief description goes here.</p>
	</div>

</div>