<div class="section">

	<div class="top-bar">
		<%= link_to "ADD FRIEND", "#", class: "pull-right btn btn-secondary btn-secondary-action" %>
		<div class="main-nav-text">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Close Friends 
			</a>
			<ul class="dropdown-menu">
				<li><%= link_to "Conversations", root_path %></li>
				<li><%= link_to "Close Friends", friends_path, class: "active-link" %></li>
			</ul>
		</div>
	</div>

	<div class="page-content">

	</div>

</div>