<div class="section">
	<div class="topbar">
		<div class="pull-left main-nav-text">
			Conversations
		</div>
		<button class="pull-right btn btn-primary btn-primary-action">COMPOSE</button>
	</div>
	<div class="page-content">
		<h3>Welcome to my app!</h3>
		<p>text here ...</p>
	</div>
</div>